/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v18-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/oswald-v40-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/oswald-v40-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* general */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #060d10;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1278px;
}

.btn {
  display: inline-block;
  font-weight: 500;
  border-radius: 4px;
}
/* header */

.header {
  background-color: #66d1ff;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 30px;
}

.btn-header {
  padding: 8px 41px;
  font-size: 24px;
  line-height: 29px;
  background-color: #fff;
}
.phone {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}

/* about */

.about {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #060d10;
  background-image: url("../images/about-bg.jpg");
  background-size: cover;
  background-position: center;
}

.about-bg-fade {
  padding-top: 240px;
  padding-bottom: 260px;
  background-color: rgba(6, 13, 16, .25);
}

.about-title {
  margin: 0;
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
}

.about-text {
  margin: 0;
  padding-top: 30px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
}

/* advantages */
.advantages {
  padding: 170px 0;
  background-color: rgba(102, 209, 255, .1);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: -35px -15px;
  padding: 0;
  list-style: none;
}

.advantages-item {
  padding: 35px 15px;
  width: 33.33%;
}

.advantages-title {
  margin: 0;
  padding-bottom: 100px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-headline {
  margin: 0;
  padding-bottom: 25px;
  white-space: nowrap;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;
  color: rgba(6, 12, 15, .8);
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}

/* lead */
.lead {
  padding-bottom: 180px;
  text-align: center;
  background-image: linear-gradient(
    195.35deg,
    rgba(102, 209, 255, .1) 43.85%,
    rgba(0, 0, 0, 0) 43.86%
  );
}

.lead::before {
  content: "";
  display: inline-block;
  width: 1278px;
  height: 1px;
  border-bottom: 1px solid rgba(6, 13, 16, .5);
}

.lead-title {
  display: block;
  padding-top: 170px;
  padding-bottom: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-transform: uppercase;
}

.btn-lead {
  padding: 20px 107px;
  font-size: 36px;
  line-height: 44px;
  border: 3px solid #060d10;
}

.images-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
}

.lead-images {
  padding: 0 15px;
  margin: 0 -15px;
  width: 25%;
}

.lead-img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

/* social icons */

.social-wrap {
  display: flex;
  align-items: center;
}

.social-list {
  display: flex;
  padding: 0;
  margin: 0 -10px;
  list-style: none;
}

.social-item {
  padding: 0 10px;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-text {
  font-size: 1px;
  opacity: 0;
}

/* footer */

.footer {
  color: #fff;
  background-color: #060d10;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-caption {
  margin: 0;
  padding-right: 50px;
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
}

.copyright {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
